body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: justify;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
}

section {
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 0 2%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}

.experience-area .header {
    padding-left: 2%;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 2%;
    box-shadow: 10px 10px 40px gray;


}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 200px;
}

h2 {
    font-size: 40px;
}

#web-dev-experience {
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full-stack-experience {
    border-left: 10px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}